{% extends 'base_homepage.html.twig' %}



{% block body %}
    <div class="page-title-banner col-l-12 col-m-12 col-s-12">
        <img class="banner-background" src="{{ asset('/css/img/impact/impact_header.png') }}" alt="">

    </div>
    <div class="green-banner ">
        <h3>Le Répertoire Vert générera une série d'effets positifs <br> sur l'activité économique du territoire sur lequel il se déploie</h3>
    </div>




    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black; font-size: 30px; text-align: center">
            Vous êtes une ville ou une région ? Vous désirez implanter le Répertoire Vert ? N'hésitez pas et contactez nous grâce au formulaire de contact!<br> <img style="width: 100px" src="{{ asset('/css/img/impact/newsletter_2.svg') }}" >
        </p>
    </div>
<div class="associatedprogramme col-l-12 col-m-12 col-s-12">
    <h2><span>Les impact du Répertoire Vert  sur votre région</span></h2>
</div>
    <div>
        <table><tr>

                <td style=" width: 100%">
                    <div class="round5" >
                        <h5 style=" color:black;">
                            Au niveau social<br>
                            L'implémentation du Répertoire Vert permettra de : réinsérer des personnes au chômage ;
                            d'offrir de nouvelles opportunités de premier emploi aux jeunes diplômés ; de redonner
                            aux employés une vision positive de leur travail et de leur rôle dans la société ;
                            de créer une nouvelle formation professionnelle d'auditeur vert.
                        </h5>
                    </div>
                </td>
                <td style=" width: 10%">
                    <div  >
                        <img src="{{ asset('/css/img/impact/impact_2.png') }}" >
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table><tr>

                <td style=" width: 10%">
                    <div  >
                        <img src="{{ asset('/css/img/impact/impact_3.png') }}" >
                    </div>
                </td>
                <td style=" width: 100%">
                    <div class="round5" >
                        <h5 style=" color:black;">
                            Au niveau économique<br>
                            De manière directe, ce ne sont pas moins de 20 emplois qui seront créés localement grâce
                            à la mise en place et à la gestion du Répertoire Vert et du Réseau Vert. C'est au total
                            48 emplois qui seront créés la première année et 69 la deuxième année. Les entreprises et
                            organisations non gouvernementales inscrites bénéficieront d'une plus grande visibilité,
                            traduite par une augmentation des revenus estimée de 20 à 30% en raison de 2 actions
                            simultanées : action sur la demande : le Répertoire Vert fournit une information fiable
                            et adaptée à tous les consommateurs, ce qui induira un changement vers une consommation
                            plus verte ; action sur l'offre : grâce à une analyse du cycle de vie du produit/service
                            couplée à la mise en place d'une analyse de processus au sein de l'entreprise, celle-ci
                            améliore son offre. Pour l'État, ces impacts se traduisent par une augmentation des revenus,
                            les impôts perçus étant plus importants.
                        </h5>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div>
        <table><tr>

                <td style=" width: 100%">
                    <div class="round5" >
                        <h5 style=" color:black;">
                            Au niveau environnemental<br>
                            Les actions sur l'offre et la demande générées par le Répertoire Vert auront des conséquences
                            environnementales majeures, dont l'amélioration de la qualité de la production et la réduction
                            des externalités négatives issues du fonctionnement et de l'organisation de l'entreprise. Cette
                            nouvelle offre couplée au changement de comportements des consommateurs, garantit une demande
                            forte de produits et services verts, respectueux de l'environnement. Il est donc possible
                            d'entrevoir un panel d'avantages pour l'ensemble des acteurs économiques (liste non exhaustive) :
                            une baisse des besoins en énergie ; une diminution de la pollution sous toutes ses formes ;
                            une amélioration du bien-être et de la santé de la population du territoire concerné ;
                            une meilleure gestion des ressources ; une meilleure visibilité pour les entreprises,
                            ce qui entraînera à coup sûr une augmentation des ventes ; et enfin, fournir des informations
                            fiables et faciles d'accès afin de favoriser des choix de consommation plus écologiques.
                        </h5>
                    </div>
                </td>
                <td style=" width: 10%">
                    <div  >
                        <img src="{{ asset('/css/img/impact/impact_4.png') }}" >
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="round2", style="background-color: #cccccc" >

        <h5 style="color:black;margin-left: 40px">

            À long terme, soit à partir de la 3e année, les auditeurs verts formés répondent à une demande accrue en audit de la part des entreprises vertes puis des autres entreprises (effet de contagion), ce qui aura pour effet de créer des emplois de formateurs verts ainsi que des emplois d'auditeurs verts. Nous estimons à 14 le nombre de nouveaux emplois créés chaque année gràce à cet impact. La création de nouveaux mandats permettra aux entreprises de réaliser des économies, fait couplé au développement du marché des produits et services verts, permettra la création de nouvelles entreprises/emplois et l'augmentation des revenus pour l'État, les impôts perçus étant plus importants.
            Au total, 189 emplois seront créés la troisième année, soit plus de 300 emplois en 3 ans, en tablant sur 500 entreprises dans le Répertoire Vert gaea2l.
            D'ici 2020, gaea2l espère lancer un mouvement populaire regroupant les partis politiques et les différents acteurs de l'économie de la région des deux côtés de la frontière en ayant pour objectif de porter auprès de l'État, les propositions des acteurs de l'économie verte, pour notamment obliger toutes les entreprises à mettre en place des audits verts gràce à la mise en place du projet Région Durable 2020.
            Il est possible d'agir dès maintenant en optant pour son implantation dans votre région (lien vers ventes aux régions).



        </h5>

    </div>


{% endblock %}
