{% extends 'base_homepage.html.twig' %}



{% block body %}
    <div class="page-title-banner col-l-12 col-m-12 col-s-12">
        <img class="banner-background" src="{{ asset('/css/img/ventes/vente_header_rv_sw.jpg') }}" alt="">

    </div>
    <div class="green-banner ">
        <h3>Vous désirez mettre en avant <br> votre produit ou votre service vert?</h3>
    </div>


<div>
  
  
    <div class="round" >

            <h5 style="color:black;margin-left: 40px;font-size: 18px">
                Après de nombreux efforts pour réaliser un produit ou un service le plus respectueux de l'environnement <br>
                et de la santé possible, votre souhait est qu'il se démarque de tous ceux qui servent du " greenwashing " ?<br>
                Vous souhaitez cibler une clientèle bien spécifique soucieuse de l'environnement ?
            </h5>

    </div>
    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;">
            Mettez une publicité de vos biens et services sur un des espacements proposés sur notre site internet Répertoire Vert !<br>
            Grâce à un algorithme ainsi qu'aux nombreux espaces publicitaires, votre publicité est visible selon les intérêts et les recherches des consommateurs/clients potentiels.<br>
            Il y a dès lors davantage de chances que ceux-ci se tournent vers votre produit ou votre service que vers ceux de votre concurrence.
        </p>
    </div>

    <div>

        <div style="text-align: center;  margin-left: 50px;">
            <table id="customers">
                <tr>
                    <th colspan="2">Quatre emplacement disponible dans chacune des 27 catégories</th>

                </tr>
                <tr>
                    <td><p  class="textInTab">Caractéristique:<br>
                            espace 250px / 360 px<br><br><br>
                            Prix:<br>
                            CHF 75.- par mois</p></td>
                    <td><img class="imageInTab" src="{{ asset('/css/img/ventes/moke_up_pub_1.jpg') }}"  alt=""></td>
                </tr>
            </table>
        </div>
    </div>

</div>
    <div class="round1">
       <img style="display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/vente_1.png') }}" >
    </div>




    <div class="round2" >

        <h4 style="color:black;margin-left: 40px">


            1/ Signature du contrat de vente entre la région et gaea21 + possibilité de recherche conjointe de financements<br>
            européens dans le cadre de programmes ( INTTEREG, HORIZON 2020, etc.)<br>
            2/ Constituer l'association gaea21 régionale.<br>
            7 membres maximum dont 5 profils préétablis et devant obligatoirement faire partie du comité de gaea21<br>
            de la région/ville acheteuse<br>
            &nbsp; &nbsp; - un représentant de gaea21 (Suisse);<br>
            &nbsp; &nbsp; - le coordinateur général du gaea21 de la ville/région acheteuse du programme Répertoire Vert.<br>
            &nbsp; &nbsp; - un représentant de la région<br>
            &nbsp; &nbsp; - un représentant des entreprises de la région;<br>
            &nbsp; &nbsp; - un représentant de la société civile.<br>
            3/ Lancement du niveau 0 (phase test).<br>
            &nbsp; &nbsp; a. formation<br>
            &nbsp; &nbsp; b. contact entreprises,<br>
            &nbsp; &nbsp; c. début de l'enregistrement des entreprises.<br>
            4/ Lancement officiel du Répertoire Vert.<br>
            5/ Gestion du Répertoire Vert:<br>
            &nbsp; &nbsp; a. niveau O et 1 gestion par gaea21 (Suisse) et gaea21 région,<br>
            &nbsp; &nbsp; b. niveau 2 et label gaea21 cogestion par gaea21 (Suisse) et gaea21 région.<br>


        </h4>

    </div>
    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;text-align: center">
            Limplantation du Répertoire Vert est prévue sur une durée de 8 mois, <br>
            dont les phases abordées ci-dessus sont réparties comme suit:
        </p>
    </div>
    <div class="round1">
        <img style="width: 95%;display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/time_line_repertoire_vert_pt.png') }}" >
    </div>
    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;text-align: center">
            Différent packs d'accompagnement pour sa mise en place sont disponibles selon vos besoin,<br>
            comme présenté dans le tableau ci-dessous, afin que gaea21 puisse vous accompagner au mieux<br>
            dans l'implémentation du Répertoire Vert dans votre région
        </p>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Basic Pack</TH>
                <TD style="width: 350px">License d'éxploitation</TD>
                <TD >Cout annuel</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Business case</TD>
                <TD >Stratégie de développement pour la mise<br> en place du Répertoire Vert</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Développement logiciel<br> et site internet</TD>
                <TD >Elaboration et mise en fonction de l'application<br> et du site internet propres à la région</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Budget publicité de base</TD>
                <TD >Création du matériel de communication<br>
                Management des visuels<br>
                Fourniture des supports</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Sélection et formation<br> des auditeur verts</TD>
                <TD >Processus de sélection et formation<br> ainsi qu'encadrement; salaires; frais</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Audit process et monitoring</TD>
                <TD >Création de modèle et édition de questionnaire<br> 9 dimensions; évaluation, test et implémentation<br> des questionnaires</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Frais</TD>
                <TD >Frais de déplacement, rencontres, etc</TD>
            </TR>
            

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Communication <br> Pack</TH>
                <TD style="width: 350px">Budget publicité - <br>
                communication</TD>
                <TD >Création du matériel de communication <br> Management des visuels <br> Fourniture des supports</TD>
            </TR>

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Fundraising <br> option A Pack</TH>
                <TD style="width: 350px" >Recherches de fond hors cadre de demandes européennes</TD>
                <TD >CHF 758.-+5% du montant obtenue</TD>
            </TR>

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Fundraising <br> option B Pack</TH>
                <TD style="width: 350px">Recherches de fond dans le cadre de demandes européennes</TD>
                <TD >CHF 6'315.-+20% du montant obtenue</TD>
            </TR>

        </table>
    </div>
    <div class="round4" >

        <h4 style=" color:black;margin-left: 40px">
            A noter que la marque Répertoire Vert appartient à gaea21, la gestion de la partie visuelle est donc faite <br>
            par l'agence de communication de gaea21, soit Eco-minds (détenteur des droits d'image du Répertoire Vert)
        </h4>

    </div>
    <div>
        <table><tr>
                <td style=" width: 10%">
                    <div  >
                        <img style="display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/signature.svg') }}" >
                    </div>
                </td>
                <td style=" width: 80%">
                    <div class="round5" >
                        <h4 style=" color:black;">
                            A noter que la marque Répertoire Vert appartient à gaea21, la gestion de la partie visuelle est donc faite <br>
                            par l'agence de communication de gaea21, soit Eco-minds (détenteur des droits d'image du Répertoire Vert)
                        </h4>

                    </div>
                </td>
            </tr>




        </table>
    </div>

{% endblock %}
