{% extends 'base_homepage.html.twig' %}



{% block body %}
    {# ******************************* NavBar ***************************************** #}


    <div class="showcase"  style="width:100%;background-image: url({{asset('/images/homepage.png')}}); height: 100%;background-position:center ; background-size: cover ; background-repeat: no-repeat ">
        {% include "navbar.html.twig" %}
        <h3 class="banner-title">Mes services</h3>
        <br><br><br><br><br>
        <div class="showcase__btn">
            <button  onclick="location.href='{{ url('company1_edit',{id:app.user.id}) }}'" class="showcase__btn-ville">Profil</button>
            <button onclick="location.href='{{ url('VisitesParMois',{months:1}) }}'" class="showcase__btn-ville">Dashboard</button>
            <button onclick="location.href='/parametres/entreprise'" class="showcase__btn-ville">Evènements</button>
            <button onclick="location.href='/produits'" class="showcase__btn-ville">Produits</button>
            <button onclick="location.href='/services'" class="showcase__btn-entreprise">Services</button>
  
        </div>
    </div>
    {# ******************************* FinNavBar ***************************************** #}

    <div class="row">
        <a class="btn" href="{{ url('serviceAdd') }}">Ajouter un service</a>
        <a class="btn1"  href="{{ url('productsFav') }}">Mes produits/services favoris</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Certification</th>
            <th>Evaluation gaea21</th>
            <th>Provenance</th>
            <th>Tarification</th>
            <th>Tarifs</th>
        </tr>
        </thead>
        <tbody>
            {% for service in services %}

                <tr>

                <td><a href="{{ url('productShow',{'slug':service.slug}) }}" style="text-decoration:none;color:black;">{{ service.name }}</a></td>
                <td><a href="{{ url('productShow',{'slug':service.slug}) }}" style="text-decoration:none;color:black;">{{ service.certification }}</a></td>
                <td>{{ service.gaearecommanded }}</td>
                <td><a href="{{ url('productShow',{'slug':service.slug}) }}" style="text-decoration:none;color:black;">{{ service.origin }}</a></td>
                <td><a href="{{ url('productShow',{'slug':service.slug}) }}" style="text-decoration:none;color:black;">{{ service.serviceduration }}</a></td>
                <td><a href="{{ url('productShow',{'slug':service.slug}) }}" style="text-decoration:none;color:black;">{{ service.price }} {{ service.currency }}{% if service.price > 1 and service.currency != "CHF" %}s {% endif %}</a></td>
                <td class="prodServEddition">
                    <a class="btnModif" href="{{ url('servicesEdit',{id:service.id}) }}">Modifier</a>
                    <a class="btnSupp" onclick="return confirm('Etes vous sûr(e) de vouloir supprimer ce service ? Si  vous cliquez sur OK le service sera supprimé définitivement');" href="{{ url('servicesDelete',{id:service.id}) }}">Supprimer</a>
                </td>


              </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
