  <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('./css/img/category/alimentation.jpg') }}" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/alimentation-boisson" class="card_category">Alimentation</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/animaux.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/animaux" class="card_category">Animaux</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/art et design.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/art-design" class="card_category">Art et Design</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/artisanat.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/artisanat" class="card_category">Artisanat</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/bureautique.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/bureautique" class="card_category">Bureautique</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/communaute.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/communaute" class="card_category">Communauté</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/compensation carbone.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/compensation_carbone
                " class="card_category">Compensation Carbone</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/consultant.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/consultant" class="card_category">Consultant</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/emplois verts.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/emploi-vert" class="card_category">Emploi Verts</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/environnement.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/environnement" class="card_category">Environnement</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/formation.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/formation" class="card_category">Formation</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/gestion des dechets.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/gestion-des-dechets" class="card_category">Gestion des Déchets</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/green building.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/green-building" class="card_category">Green Building</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/green finance.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/green-finance" class="card_category">Green Finance</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/green tech.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/green-tech-clean-tech" class="card_category">Green tech Clean tech</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/jardinage.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/jardinage-et-plantes" class="card_category">Jardinage et Agriculture</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/labels.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/label" class="card_category">Labels</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/loisirs et jeux.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/loisirs-et-jeux" class="card_category">Loisirs et Jeux</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/maison.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/maison" class="card_category">Maison</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/medias communication.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/media-et-communication" class="card_category">Médias & Communication</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/mode et textile.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/mode-et-textile" class="card_category">Mode & Textile</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/ong.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/ong-et-associations" class="card_category">ONG & Association</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/produits menagers.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/produits-menagers" class="card_category">Produits Ménagers</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/beaute du corps.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/sante-et-bien-etre" class="card_category">Soin & Beauté du corps</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/transport tourisme.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/tourisme-transport" class="card_category">Transport & Tourisme</a>
        </div>
    </article>
    <article class="article_card">
        <figure class="card_image">
            <img src="{{ asset('') }}./css/img/category/sante.jpg" alt="#" />
        </figure>
        <div class="card_content">
            <a href="/category/sante-et-bien-etre" class="card_category">Santé & Bien-être</a>
        </div>
    </article>
</div>