{% extends 'base_homepage.html.twig' %}

{% block title %}
    <title>Réinitialisation Mot de passe</title>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/page_404.css') }}"/>
{% endblock %}

{% block body %}
    {# ******************************* NavBar ***************************************** #}
    <div class="showcase" style="width:100%;background-image:url({{asset('/images/header_prochainement.jpg')}});  height: 100vh;background-position:center ; background-size: cover ; background-repeat: no-repeat ">

        {% include "navbar.html.twig" %}
        <div class="div-banner-rv">
            <div class="container-banner-rv">

                <div class="div-title-rv">
                    <div class="container-title-rv">
                        <div class="title-rv1">Bienvenue sur le</div>
                        <div class="title-rv2">Répertoire Vert</div>
                        <div class="title-rv-text">
                            <h5>Réinitialiser le mot de passe</h5>
                            <div class="form">
                                <div class="input">
                                    <label for="password">Nouveau mot de passe</label>
                                    <input type="password" name="password" id="mdp">
                                </div>
                                <div class="input middle">
                                    <label for="passwordConfirm">Confirmer le mot de passe</label>
                                    <input type="password" name="passwordConfirm" id="mdpconfirm">
                                </div>
                                <input type="submit" value="Valider" id="button">
                            </div>
                            <div id="validpassword"></div>
                            <div id="champerreurs"></div>
                            <div class="success hidden" style="color: #618226">Votre mot de passe a bien été réinitialisé</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        let token = '{{ token }}';
        console.log(token)
    </script>
    <script src="{{ asset('js/resetPassword.js') }}"></script>
{% endblock %}